In [15]:
# Input the string "Python"
inp = list(input("Enter the string:"))

# Deleting 2 characters
if len(inp) >= 2:
    del inp[:2]

# reverse it
resultant_string = "".join(inp[::-1])

# Print reversed string
print("Sample output:")
print(resultant_string)

Enter the string:Python
Sample output:
noht

In [16]:
num1 = int(input("Enter the first Number:"))
num2 = int(input("Enter the second number:"))
add_result = num1 + num2
sub_result = num1 - num2
mul_result = num1 * num2
div_result = num1 / num2

# Print the results of arithmetic operations
print("Arithmetic Operations:")
print(f"Addition: {add_result}")
print(f"Subtraction: {sub_result}")
print(f"Multiplication: {mul_result}")
print(f"Division: {div_result}")

Enter the first Number:4
Enter the second number:4
Arithmetic Operations:
Addition: 8
Subtraction: 0
Multiplication: 16
Division: 1.0

In [17]:
inp_sentence = input("Enter a sentence: ")

# Replacing 'python' with 'pythons'
op_sentence = inp_sentence.replace('python', 'pythons')

# Print the sentence
print("Sample output:")
print(op_sentence)

Enter a sentence: python
Sample output:
pythons

In [18]:
cls_score = float(input("Enter class score: "))

# Determining the letter grade
if 90 <= cls_score <= 100:
    grade = 'A'
elif 80 <= cls_score < 90:
    grade = 'B'
elif 70 <= cls_score < 80:
    grade = 'C'
elif 60 <= cls_score < 70:
    grade = 'D'
else:
    grade = 'F'

# Print the letter grade
print(f"The grade {cls_score} is: {grade}")

Enter class score: 80
The grade 80.0 is: B